@model DashBoard.Models.ProductModel

@{
    var alert = (DashBoard.Models.Alerts)TempData["alert"];

    string alertType = string.Empty;
    string alertMessage = string.Empty;

    if (alert != null)
    {
        alertType = alert.AlertType;
        alertMessage = alert.AlertMessage;
    }

    var productType = (List<DATA.Domains.ProductType>)TempData["ProductType"];

}

<main>
    <div class="container-fluid">
        @if (alertType == "error")
        {
            <div class="alert alert-danger" role="alert">
                <strong>@alertType!</strong>  @alertMessage
            </div>
        }
        @if (alertType == "success")
        {
            <div class="alert alert-primary" role="alert">
                <strong>@alertType!</strong>  @alertMessage
            </div>
        }


        <!-- START: Breadcrumbs-->
        <div class="row ">
            <div class="col-12  align-self-center">
                <div class="sub-header mt-3 py-3 px-3 align-self-center d-sm-flex w-100 rounded">
                    <div class="w-sm-100 mr-auto"><h4 class="mb-0">Product</h4></div>

                    <ol class="breadcrumb bg-transparent align-self-center m-0 p-0">
                        <li class="breadcrumb-item">Product</li>
                        <li class="breadcrumb-item">Add</li>

                    </ol>
                </div>
            </div>
        </div>
        <!-- END: Breadcrumbs-->
        <!-- START: Card Data-->
        <div class="row">
            <div class="col-12 mt-4">
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title">Add</h4>
                    </div>
                    <div class="card-content">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12">
                                    @using (Html.BeginForm("AddProduct", "Product", FormMethod.Post))
                                    {
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="categories">Type</label>
                                                <select name="ProductTypeId" class="form-control rounded">
                                                    @foreach (var item in productType)
                                                    {
                                                        <option value="@item.Id">
                                                            @item.Name
                                                        </option>
                                                    }
                                                </select>
                                            </div>
                                            <div class="form-group col-md-6">
                                                @*<input type="hidden" value="@DateTime.Now" name="CreatedOn" />*@
                                                <label for="name">Name</label>
                                                @Html.TextBoxFor(x => x.Name, new { @class = "form-control rounded", style = "text-transform: uppercase;", @id = "name", @onchange = "onchangeevent();" })
                                                @Html.ValidationMessageFor(x => x.Name, string.Empty, new { @style = "color:red" })
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-md-6">
                                                <label for="Price">Size</label>
                                                @Html.TextBoxFor(x => x.Size, new { @class = "form-control rounded", style = "text-transform: uppercase;", @onchange = "onchangeevent();" })
                                                @Html.ValidationMessageFor(x => x.Size, string.Empty, new { @style = "color:red" })
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Save</button>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END: Card DATA-->
    </div>
</main>


